*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.min-height{
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #5f9ea0;
}
h2{
    font-size: 1.6vw;
    font-family: Graphik;
    font-weight: 900;
    padding: 20px;
    text-align: center;
    color: #fff;
}
.app-container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80vw;
}
.form-container{
    height: 80vh;
    width: 40%;
    background-color: #fff0f5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.output-container{
    height: 80vh;
    width: 60%;
    background-color: #fff0f5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}